.block {
  background: red;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    cursor: pointer;

    &:hover {
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
  }
}
